@{
    ViewBag.Title = "Home Page";
}

 <!-- Header -->
<a name="about"></a>
<div class="intro-header">
    <div class="container">

        <div class="row">
            <div class="col-lg-12">
                <div class="intro-message" style="height: 450px;">
                    <h1>
                        <img src="~/public/img/Sinope_logo_word_white.png" />
                    </h1>
                    <hr class="intro-divider">
                    <h3>it's only the beginning...</h3>


                </div>
            </div>
        </div>

    </div>
    <!-- /.container -->

</div>
<!-- /.intro-header -->
<!-- Page Content -->

<a name="services"></a>
<div class="content-section-a">

    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-sm-6">
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <h2 class="section-heading">Incident Management System (MIS) </h2>
                <p class="lead">MIS is an estate management system that enables estates to manage incidents that occure inside the estate, also enable estates to share information.</p>
            </div>
            <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                <img class="img-responsive" src="~/public/img/ipad.png" alt="">
                <img src="~/public/img/ipad.png" />
            </div>
        </div>

    </div>
    <!-- /.container -->

</div>
<!-- /.content-section-a -->
<!-- <div class="content-section-b">

     <div class="container">

         <div class="row">
             <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                 <hr class="section-heading-spacer">
                 <div class="clearfix"></div>
                 <h2 class="section-heading">3D Device Mockups<br>by PSDCovers</h2>
                 <p class="lead">Turn your 2D designs into high quality, 3D product shots in seconds using free Photoshop actions by <a target="_blank" href="http://www.psdcovers.com/">PSDCovers</a>! Visit their website to download some of their awesome, free photoshop actions!</p>
             </div>
             <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                 <img class="img-responsive" src="~/public/img/dog.png" alt="">
             </div>
         </div>

     </div>


 </div> -->
<!-- /.container -->
<!-- /.content-section-b -->
<!--<div class="content-section-a">

    <div class="container">

        <div class="row">
            <div class="col-lg-5 col-sm-6">
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <h2 class="section-heading">Google Web Fonts and<br>Font Awesome Icons</h2>
                <p class="lead">This template features the 'Lato' font, part of the <a target="_blank" href="">Google Web Font library</a>, as well as <a target="_blank" href="">icons from Font Awesome</a>.</p>
            </div>
            <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                <img class="img-responsive" src="~/public/img/phones.png" alt="">
            </div>
        </div>

    </div>


</div>    -->
<!-- /.container -->
<!-- /.content-section-a -->

<a name="contact"></a>
<div class="banner">
    <div id="footer">
        <div class="container">
            <div class="row">

                <div class="col-sm-3">
                    <div class="foot-header">
                        <h1>Contact Us:</h1>
                        <h4 style="margin-top:10%">For more information:</h4>
                        <h5>
                            Email : <a href="mailto:info@sinope.co.za" target="_top" style="color:white">info@sinope.co.za</a>
                        </h5>
                        <h5>Mobile : 0730238921</h5>
                    </div>

                </div><!--/col-sm-3-->
                <div class="col-sm-3">

                    <div class="foot-header">
                        <h4 style="margin-top:30%">For support:</h4>
                        <h5>
                            Email : <a href="mailto:support@sinope.co.za" target="_top" style="color:white">support@sinope.co.za</a>
                        </h5>
                        <h5>Mobile : 0730238921</h5>
                    </div>

                </div>
                <div class="col-sm-4">
                    <div class="foot-header">

                        <h1> see us on the map</h1>
                        <h5 style="margin-top:13%">Midrand</h5>
                        <h5>Johannesburg</h5>
                    </div>

                </div><!--/col-sm-3-->


            </div><!--/row-->
            <div class="row">

                <div id="bottom-footer">
                    <div class="row">

                    </div>
                </div><!--/row 2-->
                <div class="row" id="final-footer">


                    <div class="col-sm-4 text-right">
                        <!--<span class="fa-stack fa-lg">
                            <i class="fa fa-circle text-primary fa-stack-2x"></i>
                            <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                        </span>
                        <span class="fa-stack fa-lg">
                            <i class="fa fa-circle text-info fa-stack-2x"></i>
                            <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                        </span>
                        <span class="fa-stack fa-lg">
                            <i class="fa fa-circle text-danger fa-stack-2x"></i>
                            <i class="fa fa-youtube fa-stack-1x fa-inverse"></i>
                        </span>-->
                    </div>
                </div>
            </div><!--/container-->
        </div><!--/footer-->
    </div>


    <div id="push"></div>


    <!-- /.container -->

</div>
<!-- /.banner -->